################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Backend
/GrooveMessengerAPI/bin/Debug/netcoreapp2.2
/GrooveMessengerAPI/obj
/GrooveMessengerDAL/bin/Debug/netcoreapp2.2
/GrooveMessengerAPI/logs
