@import "src/@fuse/scss/fuse";

chat-contact-sidenav {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .member-list {

        li {
            width: 300px;
            height: 45px;

            margin-bottom: 20px;
            border-bottom: 1px solid #edeef3;

            .item-left {
                float: left;

            }

            .item-right {
                float: right;
            }
        }
    }

    mat-toolbar {

        .toolbar-bottom {
            height: 180px;
        }
        .user-name {
            border: none;
            background-color: transparent;
            text-align: center;
            color: #fff;
        }
    }
}
