<div id="mail-confirm" fxLayout="column">

    <div id="mail-confirm-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="mail-confirm-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo" *ngIf="isFailure">
                <mat-icon class="red s-48">clear</mat-icon>
            </div>
            <div class="title" *ngIf="isFailure">Account confirmation failed.</div>
            <div class="subtitle">
                <p *ngIf="isFailure">Your link has expired or not provided by us!</p>
            </div>

            <p *ngIf="isLoading" class="spinner" fxLayout="column" fxLayoutAlign="center center">
                <mat-spinner color="accent" [diameter]="70"></mat-spinner>
            </p>
        </div>

    </div>

</div>