@mixin page-not-found($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    page-not-found {

        #page-not-found {

            .content {

                .message {
                    color: map-get($foreground, secondary-text);
                }
                .search {
                    background: map-get($background, card);
                    border-color: map-get($foreground, divider);

                    input {
                        background: map-get($background, card);
                        color: map-get($foreground, text);
                    }
                }
            }
        }
    }
}