<!-- CHAT -->
<div class="chat" fxFlex fxLayout="column">

    <!-- CHAT TOOLBAR -->
    <mat-toolbar class="chat-toolbar">

        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

            <div fxLayout="row" fxLayoutAlign="start center">
                <!-- CHAT CONTACT-->
                <div class="chat-contact" fxLayout="row" fxLayoutAlign="start center"
                    fuseMatSidenavToggler="chat-right-sidenav" (click)="isGroup ? selectChatGroup() : selectContact()"
                    *ngIf="contact">

                    <div class="avatar-wrapper">

                        <img [src]="contact.avatar" class="avatar" alt="{{contact.displayName}}" />

                        <mat-icon class="s-16 status" [ngClass]="contact?.status">
                        </mat-icon>
                    </div>

                    <div class="chat-contact-name">
                        {{contact.displayName}}
                        <span *ngIf="isGroup" class="group-participant">({{numberOfMembers + 1}} Participants)</span>
                    </div>
                    <ul *ngIf="isGroup" class="group-member-icon">
                        <li *ngFor="let member of contact.members; let i = index">
                            <div class="avatar-wrapper" fxFlex="0 1 auto">
                                <img [src]="member.avatar" class="mat-avatar avatar avatar-member-group"
                                    [alt]="member.displayName" />
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- / CHAT CONTACT-->
            </div>

            <div>
                <button *ngIf="!_chatService.isGroup" mat-icon-button [matMenuTriggerFor]="contactMenu"
                    aria-label="more">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <button *ngIf="_chatService.isGroup" mat-icon-button [matMenuTriggerFor]="groupMenu" aria-label="more">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #contactMenu="matMenu">
                    <button mat-menu-item fuseMatSidenavToggler="chat-right-sidenav" (click)="selectContact()">
                        Contact Info
                    </button>
                </mat-menu>
                <mat-menu #groupMenu="matMenu">
                    <button mat-menu-item fuseMatSidenavToggler="chat-right-sidenav" (click)="selectChatGroup()">
                        Group Info
                    </button>
                </mat-menu>
            </div>

        </div>
    </mat-toolbar>
    <!-- / CHAT TOOLBAR -->

    <!-- CHAT CONTENT -->
    <div id="chat-content" #vcChatContent fxFlex="1 1 auto" (scroll)="onScroll($event)" fusePerfectScrollbar>
        <!-- fusePerfectScrollbar> -->

        <!-- CHAT MESSAGES -->
        <div class="chat-messages">
            <div style="text-align: center" *ngIf="!dialog">
                <img src="../../../../assets/images/profile/say-hi.png" />
            </div>
            <p *ngIf="!dialog" style="text-align: center">
                <b>Say hi to {{contact.displayName}} with a wave.</b>
            </p>
            <button *ngIf="!dialog" _ngcontent-bsa-c60="" color="accent" mat-raised-button=""
                class="mat-raised-button mat-accent say-hi-button" [disabled]="clicked"
                (click)="SayHi(contact); clicked=true ;">
                <span class="mat-button-wrapper">
                    Say Hi!
                </span>
                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                <div class="mat-button-focus-overlay"></div>
            </button>
            <!-- MESSAGE -->
            <div *ngIf="isOver" style="text-align: center; font-style: italic;">First Date Message :
                {{dialog[0].time |date:'short'}}
                <hr class="style4" style='	border-top: 1px dotted #8c8b8b;'>
            </div>
            <div *ngFor="let message of dialog; let i = index" class="message-row" [ngClass]="{
                'me': message.who === user.userId,
                'contact': message.who !== user.userId,
                'first-of-group': isFirstMessageOfGroup(message, i),
                'last-of-group': isLastMessageOfGroup(message, i),
                'group-style': isGroup===true
                }">

                <!-- <img *ngIf="message.who!=user.userId&&isLastMessageOfGroup(message, i)" src="{{contact.avatar}}"
                    class="avatar"> -->
                <img [src]="isGroup?message.avatar:contact.avatar" class="mat-avatar avatar avatar-member-group" [alt]="message.displayName"
                    *ngIf="message.who!=user.userId&&isLastMessageOfGroup(message, i)" />
                <div class="sender-name secondary-text"
                    [ngClass]="{'hidden':message.who===user.userId||!isFirstMessageOfGroup(message, i)}">
                    {{message.displayName}}</div>
                <div class="bubble"
                    [ngClass]="{'bg-trans':message.message.includes('cloudinary')&&isFirstMessageOfGroup(message, i)}"
                    *ngIf="!message.message.includes('cloudinary')||isFirstMessageOfGroup(message, i)">
                    <div class="message" *ngIf="!message.message.includes('cloudinary')">
                        {{message.message}}
                    </div>
                    <!-- <div class="time secondary-text">{{message.time | date:'short'}}</div> -->
                </div>
                <div class="bubble" *ngFor="let obj of message.message | extractUrl | async; let l = count"
                    style="background-color: transparent !important">
                    <div class="message" *ngIf="obj">
                        <div style="background-color: white" style="position: relative">
                            <a href="{{obj.urlLink||obj.imgLink}}" target="_blank">
                                <img src="{{obj.imgLink}}" style="height: 150px; width: 200px;"
                                    (error)="errorHandler($event,this)" class="message-preview-image">
                                <div *ngIf="obj.imgTitle||obj.urlLink"
                                    style="background-color: rgba(60, 60, 60, 0.5); bottom: 0px; position: absolute; width: 100%; height:20%">
                                    <div *ngIf="obj.imgTitle" style="color: white; font-weight: bold;">{{obj.imgTitle}}
                                    </div>
                                    <div *ngIf="obj.urlLink"
                                        style="color: white; font-size: xx-small; font-style: italic;">{{obj.urlLink}}
                                    </div>

                                </div>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="time secondary-text" *ngIf="isLastMessageOfGroup(message, i)">
                    {{message.time | date:'short'}}
                </div>
                <!-- <div class="bubble">
                    <div class="time secondary-text">

                        {{message.time | date:'short'}}



                    </div>
                </div> -->

            </div>
        </div>
        <!-- CHAT MESSAGES -->
    </div>
    <!-- / CHAT CONTENT -->

    <!-- CHAT FOOTER -->
    <div class="chat-footer" fxFlex="0 0 auto" fxLayout="column">

        <!-- REPLY FORM -->
        <div class="reply-form" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center">
            <form #replyForm="ngForm" (ngSubmit)="reply($event)" (keydown.enter)="reply($event)" fxFlex fxLayout="row"
                fxLayoutAlign="start center">

                <mat-form-field class="message-text" fxFlex floatLabel="never" appearance="standard">
                    <textarea matInput #replyInput placeholder="Type your message" ngModel name="message" [rows]="1"
                        [(ngModel)]="messageInput" [matTextareaAutosize]="true" pattern="[/^(?!\s*$).+/g]"></textarea>
                </mat-form-field>
                <button class="file-button" mat-icon-button type="submit" type="button" aria-label="Send message"
                    (click)="file.click()">
                    <input type="file" #file (change)="onUpload($event)" style="display: none" />
                    <mat-icon>
                        camera_alt
                    </mat-icon>
                </button>
                <!-- [disabled]="_rxSpeechRecognitionService.started$ | async"  -->
                <button class="record-button" mat-icon-button type="submit" type="button" aria-label="Send message"
                    #voiceButton (click)="listen();">
                    <mat-icon [ngStyle]="listenSwitch && {'color':'red'}">
                        record_voice_over
                    </mat-icon>
                </button>
                <button class="emotion-button" mat-icon-button type="submit" aria-label="Emoji"
                    (click)="isHide = !isHide;">
                    <mat-icon class="secondary-text">mood</mat-icon>
                </button>
                <button class="send-message-button" mat-icon-button type="submit" aria-label="Send message">
                    <mat-icon class="secondary-text">send</mat-icon>
                </button>

            </form>

        </div>
        <!-- / REPLY FORM -->
        <div [hidden]="isHide" id="emotion" style="width: 100%">
            <emoji-mart title="Pick your emoji…" emoji="point_up" (emojiClick)="addEmoji($event)">
            </emoji-mart>
        </div>
    </div>
    <!-- / CHAT FOOTER-->

</div>
<!-- / CHAT -->