@import "src/@fuse/scss/fuse";
body {
    background: #111;
}

.shiny {
    color: black;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#0b1318),
        to(#010f11)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

    font-weight: 900;
    position: relative;
}

.shiny::before {
    background-position: -180px;
    -webkit-animation: flare 5s infinite;
    -webkit-animation-timing-function: linear;
    background-image: linear-gradient(
        65deg,
        transparent 20%,
        rgba(255, 255, 255, 0.2) 20%,
        rgba(255, 255, 255, 0.3) 27%,
        transparent 27%,
        transparent 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    content: "Shiny";
    color: #fff;
    display: block;
    padding-right: 140px;
    position: absolute;
}

.shiny::after {
    content: "Shiny";
    color: #fff;
    display: block;
    position: absolute;
    text-shadow: 0 1px #6e4414, 0 2px #6e4414, 0 3px #6e4414, 0 4px #6e4414,
        0 5px #6e4414, 0 6px #6e4414, 0 7px #6e4414, 0 8px #6e4414,
        0 9px #6e4414, 0 10px #6e4414;
    top: 0;
    z-index: -1;
}

.inner-shiny::after,
.inner-shiny::before {
    -webkit-animation: sparkle 5s infinite;
    -webkit-animation-timing-function: linear;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff,
        0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff;
    content: "";
    display: block;
    height: 10px;
    opacity: 0.7;
    position: absolute;
    width: 10px;
}

.inner-shiny::before {
    -webkit-animation-delay: 0.2s;
    height: 7px;
    left: 0.12em;
    top: 0.8em;
    width: 7px;
}

.inner-shiny::after {
    top: 0.32em;
    right: -5px;
}

@-webkit-keyframes flare {
    0% {
        background-position: -180px;
    }
    30% {
        background-position: 500px;
    }
    100% {
        background-position: 500px;
    }
}

@-webkit-keyframes sparkle {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0.8;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
chat-chats-sidenav {
  display: flex;
  flex: 1;
  flex-direction: column;

  .sidenav-header {
    mat-toolbar {
      border-bottom: 1px solid;
      border-bottom-color: rgba(0, 0, 0, 0.12);
      .avatar-wrapper {
        .avatar,
        .status {
          cursor: pointer;
        }
      }

      .search {
        height: 36px;
        line-height: 36px;
        padding: 8px;
        font-size: 13px;
        border-radius: 18px;
        border: 1px solid;
        overflow: hidden;
        background: #fafafa;
        border-color: rgba(0, 0, 0, 0.12);
        .mat-icon {
          margin: 0;
        }

        input {
          padding: 0 12px 0 8px;
          height: 36px;
          border: none;
          background: #fafafa;
          color: rgba(0, 0, 0, 0.87);
        }
      }
    }
  }

  .sidenav-content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .unknown-contact-list,
    .contact-list,
    .chat-list {
      .mat-subheader {
        padding-left: 16px;
        font-size: 20px;
        font-weight: 300;
        height: 88px;
        line-height: 88px;
        color: #039be5;
      }

      .contact {
        white-space: normal;
        text-align: left;
        letter-spacing: 0.01em;
        min-height: 88px;
        border-bottom: 1px solid;
        padding: 16px;
        font-weight: 400;
        border-radius: 0;
        border-bottom-color: rgba(0, 0, 0, 0.12);
        .avatar-wrapper {
          .avatar {
            margin-right: 16px;
          }
        }

        .contact-name {
          font-size: 16px;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .contact-last-message {
          line-height: normal;
          margin-top: 0;
          color: rgba(0, 0, 0, 0.54);
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }

        .contact-last-message-time {
          font-size: 12px;
          margin-top: 4px;
        }

        .contact-mood {
          line-height: normal;
          margin: 0;
          color: rgba(0, 0, 0, 0.54);
        }

        .unread-message-count {
          font-size: 12px;
          border-radius: 50%;
          text-align: center;
          width: 30px;
          height: 20px;
          line-height: 20px;
        }
      }
    }

    .no-results-message {
      position: absolute;
      width: 100%;
      height: 88px;
      padding: 16px;
      font-size: 15px;
      font-weight: 400;
    }
  }
}

.add-group {
    height: 100%;
    position: relative;
    mat-form-field {
        width: 100%;
    }

    .mat-dialog-actions {
        position: absolute;
        bottom: 0;
    }

}