<!-- SIDENAV HEADER -->
<div class="sidenav-header">
    <!-- CHATS TOOLBAR -->
    <mat-toolbar>

        <!-- TOOLBAR TOP -->
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">

            <!-- USER AVATAR WRAPPER -->
            <div class="avatar-wrapper">

                <!-- USER AVATAR -->
                <img (click)="changeLeftSidenavView('user')" [attr.src]="this._userInfoService.userInfo.avatar"
                    class="mat-avatar avatar" alt="" />
                <!-- / USER AVATAR -->
                <span class="shiny">
                    <span class="inner-shiny">
                        {{this._userInfoService.userInfo.displayName}}
                    </span>
                </span>
                <mat-icon class="s-16 status" [ngClass]="this._userInfoService.userInfo.status"
                    [matMenuTriggerFor]="userStatusMenu">
                </mat-icon>

                <!-- USER STATUS -->
                <mat-menu id="user-status-menu" #userStatusMenu="matMenu">

                    <button mat-menu-item (click)="setUserStatus('online')">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="s-16 status online"></mat-icon>
                            <span>Online</span>
                        </div>
                    </button>

                    <button mat-menu-item (click)="setUserStatus('away')">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="s-16 status away"></mat-icon>
                            <span>Away</span>
                        </div>
                    </button>

                    <button mat-menu-item (click)="setUserStatus('doNotDisturb')">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="s-16 status doNotDisturb"></mat-icon>
                            <span>Do not disturb</span>
                        </div>
                    </button>

                    <button mat-menu-item (click)="setUserStatus('offline')">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="s-16 status offline"></mat-icon>
                            <span>Offline</span>
                        </div>
                    </button>
                </mat-menu>
                <!-- / USER STATUS -->

            </div>
            <!-- / USER AVATAR -->

            <div>
                <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="more">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item (click)="changeLeftSidenavView('user')">
                        Profile
                    </button>
                    <button mat-menu-item (click)="logout()">
                        Logout
                    </button>
                </mat-menu>
            </div>

        </mat-toolbar-row>
        <!-- / TOOLBAR TOP -->

        <!-- TOOLBAR BOTTOM -->
        <mat-toolbar-row>

            <!-- SEARCH -->
            <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="s-16 secondary-text">search</mat-icon>
                    <input [(ngModel)]="searchText" type="text" placeholder="Search or start new chat" fxFlex
                        (input)="CountData()">
                </div>

            </div>
            <button style="margin-left: 20px; border-radius: 20%;" (click)="openDialog()" mat-raised-button><svg
                    xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 18 18">
                    <path
                        d="M9 8c1.11 0 2-.9 2-2s-.89-2-2-2c-1.1 0-2 .9-2 2s.9 2 2 2zm4 0c1.11 0 2-.9 2-2s-.89-2-2-2c-.36 0-.69.1-.98.27.3.51.48 1.1.48 1.73s-.18 1.22-.48 1.73c.29.17.63.27.98.27zM9 9.2c-1.67 0-5 .83-5 2.5V13h10v-1.3c0-1.67-3.33-2.5-5-2.5zM5 7H3V5H2v2H0v1h2v2h1V8h2V7zm9.23 2.31c.75.6 1.27 1.38 1.27 2.39V13H18v-1.3c0-1.31-2.07-2.11-3.77-2.39z" />
                </svg>
            </button>
            <!-- / SEARCH -->

        </mat-toolbar-row>
        <!-- / TOOLBAR BOTTOM -->

    </mat-toolbar>
    <!-- / CHATS TOOLBAR -->

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div class="sidenav-content" fusePerfectScrollbar fxFlex>

    <!-- CHATS CONTENT -->
    <div *fuseIfOnDom [@animateStagger]="{value:'50'}">
        <!-- UNKNOWN CONTACTS LIST-->
        <div class="chat-list" fxLayout="column"
            *ngIf="currentSumLength<=3 && searchText.length>0&&unknownContacts.length>0">

            <div matSubheader>
                People

            </div>
            <ng-container *ngIf="this.unknownContacts">
                <button mat-button class="contact"
                    *ngFor="let unknownContacts of  _chatService.unknownContacts | filterUnknownContact:searchText | async; trackBy:trackByUnknownContactId"
                    (click)="getChat(unknownContacts.userId)" [@animate]="{value:'*',params:{y:'100%'}}" #someVar>

                    <div fxLayout="row" fxLayoutAlign="start center">

                        <div class="avatar-wrapper" fxFlex="0 1 auto">
                            <img src="{{unknownContacts.avatar}}" class="mat-avatar avatar"
                                alt="{{unknownContacts.displayName}}" />
                            <mat-icon class="s-16 status" [ngClass]="unknownContacts?.status"></mat-icon>
                        </div>

                        <div fxLayout="column" fxLayoutAlign="start start">
                            <div class="contact-name">{{unknownContacts.displayName}}</div>
                            <p class="contact-mood">{{unknownContacts.mood}}</p>
                        </div>

                    </div>

                </button>
            </ng-container>
        </div>
        <!-- / UNKNOWN CONTACTS LIST-->

        <!-- CHATS LIST-->
        <div class="chat-list" fxLayout="column">

            <div matSubheader *ngIf="(_chatService.user.chatList ).length > 0">
                Chats
            </div>

            <button mat-button class="contact"
                *ngFor="let chat of user.chatList | orderBy:'lastMessageTime' : true | filter: searchText as vars"
                (click)="setValueSeenBy(chat.convId);getChat(chat.contactId);" ngClass="{'unread':contact.unread}"
                [@animate]="{value:'*',params:{y:'100%'}}">


                <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="avatar-wrapper" fxFlex="0 1 auto" fxLayoutAlign="center center">
                        <img class="avatar" [attr.src]="contacts | getById:chat.contactId:'avatar'"
                            alt="{{contacts | getById:chat.contactId:'displayName'}}" />
                        <mat-icon class="s-16 status" [ngClass]="contacts | getById:chat.contactId:'status'">
                        </mat-icon>
                    </div>
                    <div fxLayout="row" fxFlex>

                        <div class="pr-4"
                            style="width: 150px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" fxFlex
                            fxLayout="column" fxLayoutAlign="center start">
                            <div class="contact-name">{{contacts | getById:chat.contactId:'displayName'}}</div>
                            <div class="contact-last-message">{{chat.lastMessage}}</div>
                        </div>

                        <div fxLayout="column" fxLayoutAlign="start end">
                            <div class="contact-last-message-time">
                                {{chat.lastMessageTime | date}}

                            </div>
                            <div *ngIf="chat.unread && (chat.unread>0 || chat.unread=='99+')"
                                class="mt-4 unread-message-count accent">
                                {{chat.unread}}
                            </div>
                        </div>

                    </div>

                </div>

            </button>

        </div>

        <!-- GROUP CHAT -->

        <div class="chat-list" fxLayout="column">

            <div *ngIf="user.groupChatList.length > 0" class="group-chat-list" fxLayout="column">
                <div matSubheader>
                    Groups
                </div>
                <button (click)="setValueSeenByGroup(groupChat.id);getChatOfGroupChat(groupChat)" mat-button
                    class="contact"
                    *ngFor="let groupChat of _chatService.user.groupChatList | filterGroup:searchText | orderBy:'lastestMessageTime' : true;trackBy:customTB"
                    [@animate]="{value:'*',params:{y:'100%'}}" #someVar>

                    <div fxLayout="row" fxLayoutAlign="start center">

                        <div class="avatar-wrapper" fxFlex="0 1 auto" fxLayoutAlign="center center">
                            <img src="{{groupChat.avatar}}" class="mat-avatar avatar" alt="{{groupChat.name}}" />
                        </div>
                        <div fxLayout="row" fxFlex>

                            <div class="pr-4"
                                style="width: 150px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"
                                fxFlex fxLayout="column" fxLayoutAlign="center start">
                                <div class="contact-name">{{groupChat.name}}</div>
                                <div class="contact-last-message">{{groupChat.lastestMessage}}</div>
                            </div>

                            <div fxLayout="column" fxLayoutAlign="start end">
                                <div class="contact-last-message-time">
                                    {{groupChat.lastestMessageTime | date}}

                                </div>
                                <div *ngIf="groupChat.unreadMessage && (groupChat.unreadMessage>0 || groupChat.unreadMessage=='99+')"
                                    class="mt-4 unread-message-count accent">
                                    {{groupChat.unreadMessage}}
                                </div>
                            </div>


                        </div>
                    </div>
                </button>
            </div>
        </div>
        <!-- GROUP CHAT -->

        <!-- CONTACTS LIST-->
        <div class="contact-list" fxLayout="column">

            <div matSubheader>
                Contacts
            </div>

            <button mat-button class="contact" *ngFor="let contact of contacts| filter: searchText"
                (click)="getChat(contact.userId)" [@animate]="{value:'*',params:{y:'100%'}}">

                <div fxLayout="row" fxLayoutAlign="start center">

                    <div class="avatar-wrapper" fxFlex="0 1 auto">
                        <img src="{{contact.avatar}}" class="mat-avatar avatar" alt="{{contact.displayName}}" />
                        <mat-icon class="s-16 status" [ngClass]="contact.status"></mat-icon>
                    </div>

                    <div fxLayout="column" fxLayoutAlign="start start">
                        <div class="contact-name">{{contact.displayName}}</div>
                        <p class="contact-mood">{{contact.mood}}</p>
                    </div>
                    <!-- <ng-container *ngIf="this.contacts">
                    <button mat-button class="contact" *ngFor="let contact of contacts| filter: searchText"
                            (click)="getChat(contact.id)" [@animate]="{value:'*',params:{y:'100%'}}">

                        <div fxLayout="row" fxLayoutAlign="start center">

                            <div class="avatar-wrapper" fxFlex="0 1 auto">
                                <img src="{{contact.avatar}}" class="mat-avatar avatar"
                                     alt="{{contact.displayName}}" />
                                <mat-icon class="s-16 status" [ngClass]="contact?.status"></mat-icon>
                            </div>

                            <div fxLayout="column" fxLayoutAlign="start start">
                                <div class="contact-name">{{contact.displayName}}</div>
                                <p class="contact-mood">{{contact.mood}}</p>
                            </div>
                        </div>
                    </button>
                </ng-container> -->
                </div>
                <!-- / CONTACTS LIST-->

                <!-- NO RESULTS MESSAGE -->
                <div *ngIf="contacts && (contacts | filter: searchText).length === 0" class="no-results-message">
                    No results..
                </div>
                <!-- NO RESULTS MESSAGE-->
            </button>
        </div>
        <!-- / CHATS CONTENT -->

    </div>
    <!-- / SIDENAV CONTENT -->